.publications
  font-size: 14px
  line-height: 24px
  padding: 56px 196px
  .title 
      color: #2A82C4
      font-weight: bold
      font-size: 24px
      margin-bottom: 12px
  .publications_journals
    margin-bottom: 35px
  .publications_conferences
    margin-bottom: 35px
  .publications_invited_speeches
    margin-bottom: 35px

@media (max-width: 1199.98px) 
  .publications
    padding: 20px